[v-cloak]{ display: none;}
*{font-size: 14px; padding:0px; margin:0px; text-decoration: none; font-family: '微软雅黑'; font-style: normal; outline: none;}
.hide,[v-clock]{ display: none !important;}
.fn{ padding:5px 0px 2px; box-shadow:0px 0px 5px #333; overflow: hidden;
    *{margin-left:10px; }
    .bt2{ margin-bottom:5px;}
    .ex_in{ position: relative;
        input{ position: absolute; left:0px; top:0px; width:100%; height:100%; opacity:0;}
    }
}
.check{ width: 20px;height: 20px; border:1px solid #ccc; display:inline-block; cursor: pointer; border-radius:5px;}
.check.yes{ background: #4C8;}
.bt00{ display: inline-block; background: #999; color: #fff; border-radius: 5px; padding:10px 10px; cursor: pointer;}
.bt0{ display: inline-block; background: #333; color: #fff; border-radius: 5px; padding:10px 10px; cursor: pointer;}
.bt1{ display: inline-block; background: #168; color: #fff; border-radius: 5px; padding:10px 10px; cursor: pointer;}
.bt2{ display: inline-block; background: #4C8; color: #fff; border-radius: 5px; padding:10px 10px; cursor: pointer;}
.bt3{ display: inline-block; background: #f90; color: #fff; border-radius: 5px; padding:10px 10px; cursor: pointer;}
.bt4{ display: inline-block; background: #e28; color: #fff; border-radius: 5px; padding:10px 10px; cursor: pointer;}
.bt5{ display: inline-block; background: #c44; color: #fff; border-radius: 5px; padding:10px 10px; cursor: pointer;}
.c3{ color: #e44;}
.tl{ text-align: left;}.tr{text-align: right;}
.fl{ float:left;}.fr{float: right;}
.in{ display: inline-block; height: 34px; border-radius:5px; border:1px solid #666; padding:0px 5px; box-sizing: border-box;}
.more{ width:50%; margin:10px auto; background: #99E; padding:5px 0px; text-align: center; cursor: pointer; font-size:16px; color: #fff;}
.nomore{ color: #333; text-align: center;}
.exp{background: #Fdd; border:1px solid #f66; border-radius:10px; line-height: 26px; padding:0px 10px;}
table{border-collapse: collapse;  width:100%;
    thead{ background: #333; color: #EEE;}
    tbody{ width:100%; height: 60vh; overflow: auto;}
    td{ border:1px solid #CCC; height: 21px; padding:5px; text-overflow:ellipsis; overflow: hidden;}
}
.flex{ display: flex; height: 50vh;}.box{ flex:1;}
.nav{ background: #333; float: left; width:auto; padding: 20px 10px 0px 10px; height:100vh; box-sizing: border-box;
    .come{ color:#999; font-weight: bold;}
    .on{ color:#0ff; font-weight: bold;}
    a,div{ display: block; padding:10px 10px 10px 0px; cursor: pointer;}
    a:hover{ background: #333;}
    *{ color: #fff; font-size:16px;}
}
.tox-statusbar{ display: none !important;}//隐藏富文本logo



//通用
.tab_1{ margin:20px; border-radius: 5px; overflow: hidden; display: inline-block;border:1px solid #ccc;
    .li{ display: inline-block; padding:10px; cursor: pointer;}
    .li.is{ background: #146; color: #fff;}
}

//首页
.home{
    .table{ padding:10px;
        .tx{ padding:5px; width: 50%; height: 500px; float: left; margin-right: 10px;}
        .dd{ display: flex; align-items: center; font-size:20px; color: #666; border-bottom:1px solid #666;
            .td{ flex:1; line-height: 40px; overflow: hidden; border-right:1px solid #555; text-align: center;}
        }
        .ti{ background: #666; .td{ color: #fff;}}
        .bt1{ float: left; padding:20px;}
    }
}

//表格样式
.mdgl{ 
    .table{ height:calc(100vh - 50px); min-width:60%; overflow:auto;
        thead{ position:sticky; top:0px;}
        .now{ background: #449 !important;}
        .now *{color: #fff !important;}
    }
    .tab{ position: fixed; left:110px; bottom:0px; background: #fff;box-shadow: 0px 0px 5px #555;z-index: 10; transition:all 0.5s ease;
        .qy{ width:calc(100vw - 110px); overflow: auto; white-space:nowrap;}
        .no{ padding:5px; border-radius:5px; box-shadow:0px 0px 5px #000; background: #fff; position: absolute; top:-30px; left:45%; z-index:10; cursor: pointer;}
        p{ display: inline-block; padding:0px 5px; line-height:30px; background: #fff; cursor: pointer; border-right:1px solid #ddd;}
        p:hover,.is{ background: #333; color: #fff;}
     }
     .tab.is{ bottom:-40px; transition: all 0.5s ease;}
}
//时间线
.case_name{ display:inline-block;  margin:10px 0px; background: #Efefef; border-radius:8px; box-shadow: inset 0 0 5px #eee; padding:8px 10px;}



//统计样式
.mdtj{
    .tab1{ width:100px; float:left; text-align: center; position: relative; z-index:10;
        .li{background: #168; color: #fff; padding:8px; cursor: pointer; margin:1px 0px;
            .in{ width:100%; box-sizing:border-box;}
        }
        .li:hover{ background:#146;}
        .li.is{ background:#146;}
    }
    .tab2{
        .li{ display: inline-block;background: #1c8; color: #fff; padding:8px; cursor: pointer; margin:2px;}
        .li:hover{ background:#168}
        .li.is{ background:#333;}
    }

}
//表单1
.from_1{
    .dd{ display: flex; margin-bottom:10px;
        .name{ width:100px; line-height:28px; text-align: right; margin-right:10px;}
        .in{width: 300px; text-align: left; line-height: 28px   ;}
    }
    .sub{ text-align: center;}
}
//图片处理
.pic{
    .size{ margin:20px;
        .in{ border:1px solid #999; border-radius:5px;}
    }
    .output{ width:400px; margin:30px; border-radius:10px; box-shadow:0px 0px 5px #666;}
    
}
//正方形上传按钮
.up_box{ margin:20px; min-width: 100px; min-height:100px; background: #eff; border-radius:10px; box-shadow:0px 0px 3px #000; text-align: center; position: relative; color: #fff; display: inline-block; overflow: hidden; cursor: pointer;
    p{ position: absolute;left:0px; top:0px;text-align: center;width:95%; height:95%; line-height:26px; z-index:1; display: flex; align-items: center; justify-content: center;}
    img{ width:400px; position: relative; z-index: 2;}
    input{ width:100%; height:100%; opacity:0; position: absolute; left:0px; top:0px; z-index:3;}
}


//登陆
.login{ text-align: center; width: 100%;
    .title{ font-size:40px; font-family: '楷体'; margin:20px 0px 50px;}
    .in{ width:100%; padding:8px 10px; box-sizing: border-box;}
    .li{ margin:20px auto; width:100%;}
}


//窗口
.win:after{content: ''; background: #000; opacity:0.6; display: block; width:100%; height:100%; position: absolute; left:0px; top:0px;}
.win{ position:fixed;width:100%; height:100%; display:grid; text-align: center;left:0px; top:0px; z-index:20;
    .bt0{ float: left; margin-right:10px; position: relative; bottom:-20px; z-index: 2;}
    .box_1{padding:20px 10px; background: #fff; position:relative; z-index: 2; display: inline-block; align-self: center; justify-self: center; border-radius:10px; position: relative;}
    .box_2{padding:5px;height:50vh; width:80vw; overflow:auto; background: #fff; position:relative; z-index: 2; display: inline-block; align-self: center; justify-self: center; border-radius:10px; position: relative;
        b{display:inline-block; width:100px; text-align: right;}
        .ti{ color: #06f;font-weight: bold;}
    }
    .li{ margin:10px 0px 20px; color: #666;}
    .in{width:80%;}
    
    .close{position: absolute; right:-12px; top:-12px; border-radius:30px; cursor: pointer; background: #fff; width:40px; line-height:40px;}
    .del{position: absolute; left:-12px; top:-12px; border-radius:30px; cursor: pointer; background: #fff; color: #f44; width:40px; line-height:40px;}
        
}
.win1:after{content: ''; background: #000; opacity:0.6; display: block; width:100%; height:100%; position: absolute; left:0px; top:0px;}
.win1{ position:fixed;width:100%; height:100%; display:grid; text-align: center;left:0px; top:0px; z-index:10;
    .box_1{padding:30px 20px; height:50%; width:100%; background: #fff; position:absolute; z-index: 2; display:block; border-radius:10px; bottom:0px; box-sizing: border-box;}
    .li{ margin:10px 0px 5px; overflow: auto; height: 100%;}
    .close{position: absolute; right:5px; top:2px; border-radius:30px; cursor: pointer;}
        
}
//提示
.tips{ position: fixed; left:0px; top:50px; width:100%; text-align: center; z-index:99;
    .msg{padding: 5px 20px; background:rgba(245,100,100, 0.8); color: #fff; box-shadow:0px 0px 3px#333; display: inline-block;}
}
.wait{ position: fixed; left:0px; top:0px; height:100%; width:100%; text-align: center; z-index:99; background:rgba(0,0,0,0.5); display: flex; align-items: center; justify-content: center;
    .msg{ background: #fff; border-radius:10px; width: 50%; height: 30vh; display: flex; justify-content: center; align-items: center;}
}
#wait{ display:inline-block; width:16px; height: 16px; background: #F44; color: #fff; border-radius:16px; text-align: center; font-size: 12px; margin-left:5px;}
.ask{ position: fixed; left:0px; top:0px; height:100%; width:100%; text-align: center; z-index:99; background:rgba(0,0,0,0.5); display: flex; align-items: center; justify-content: center;
    .msg{ background: #fff; border-radius:10px; width: 50%; height: 30vh;padding-top:20px;}
    .txt{ margin:0px 0px 20px; font-size:22px;}
}
   
  /* 当屏幕宽度大于或等于768像素时，改为浮动布局 */
  @media (max-width: 768px) {
    .nav {width:40px; height:40px; background: none; margin: 0 auto;padding:0px;position: fixed;right:10px;bottom:10px; overflow: hidden; transition: all 0.5s;
      a{ display:flex; width:100%; height:40px; border-radius:30px; overflow: hidden; background: #444; padding:0px; }
      a{ align-items: center; justify-content: center; font-size:14px; text-align: center; font-weight: normal; margin-bottom:5px;}
      
      .pc{display: none;}
    }
    .open{ transition:height 0.5s; height:220px; }
    .fn{
        .in{ width:30vw;}
        i:nth-child(4),i:nth-child(5){display: none;}
    }
    .mdgl{
        .table{ height: calc(100vh - 80px);}
        table{ width:100%;
            td{ padding:5px;
                i{ display: block;width:calc(20vw - 10px); height: 55px; overflow: hidden; text-overflow: ellipsis;} 
             }
        }
        table thead{ width: 100%;} 
        .tab{ width:100vw; left:0px;
            .qy{width:100vw;};
        }
    }
    //案件标题
    .case_name{ width:80vw; box-sizing:border-box; text-overflow: ellipsis; overflow: hidden; display:block; white-space: nowrap;}
    .win .box_2{
        b{ display: block; text-align: left; margin-bottom:5px; color: #666;}
        .in{ width:100%;}
    }
  }
